<header *ngIf="isCheck">
  <a href="#" class="logo"><span>real</span>Estate</a>

  <nav class="navbar">
    <a routerLink="/">Trang chủ</a>
    <a routerLink="/add-house">Thêm nhà</a>
    <a href="#featured">Hóa đơn</a>
    <a href="#agents">Nhà của bạn</a>
  </nav>

  <div class="icons">
    <a>{{username}}</a>
    <a (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i></a>
  </div>
</header>

<header *ngIf="!isCheck">
  <a href="#" class="logo"><span>real</span>Estate</a>

  <nav class="navbar">
    <a routerLink="/">Trang chủ</a>
    <a routerLink="/login">Thuê nhà</a>
    <a routerLink="/login">Nhà của bạn</a>
    <a routerLink="/login">Hóa đơn</a>
  </nav>

  <div class="icons">
    <div id="menu-bars" class="fas fa-bars"></div>
    <a routerLink="login" class="fas fa-user"></a>
  </div>
</header>
