<app-navbar></app-navbar>

<section class="home" id="home">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <h3>Login</h3>
    <div class="inputBox">
      <input type="search" formControlName="username" placeholder="Username">
    </div>
    <div class="inputBox">
      <input type="search" formControlName="password" placeholder="Password">
    </div>

    <input type="submit" value="Login" class="btn">
    <div class="inputBox">
      <h1><a routerLink="/register">Do not have an account ? Register now</a></h1>
    </div>
  </form>
</section>
